<section class="hero-banner" style="background-image: url('/assets/hero_banner_img.avif');">
  <div class="hero-banner__content">
    <a href="/collections/all" class="hero-banner__button">
      VIEW THE COLLECTION
    </a>
  </div>

  <div class="hero-banner__marquee">
    <div class="hero-banner__marquee-inner">
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
      <span>Free Shipping on Orders Over $50</span>
      <span class="topbar__star">✦</span>
    </div>
  </div>
</section>