<div class="topbar" aria-hidden="true">
  <div class="topbar__marquee">
    <div class="topbar__track">
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
      <span class="topbar__item">FREE SHIPPING FOR ORDERS OVER $100</span>
      <span class="topbar__star">✦</span>
    </div>
  </div>
</div>